@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
:root {
    --font-base: 'Poppins', sans-serif;
    --color-white: #FFFFFF;
    --color-dark: #24252D;
    --color-black1: #2D2E36;
    --color-black2: #1B1A21;
    --color-black3: #2A2D3A;
    --color-black4: #24252D;
    --color-grey1: #E3E1E3;
    --color-grey2: #888888;
    --color-grey3: #4F4F4F;
    --color-red-violet: #DA18A3;
    --color-red-linear: linear-gradient(101.12deg, #EB1484 27.35%, #C91CC3 99.99%, #C81CC5 100%, #C81CC5 100%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: var(--font-base);
    color: var(--color-white);
}

a {
    color: unset;
    text-decoration: none;
}

body {
    background-color: var(--color-dark);
}